<!DOCTYPE html>
<html ng-app="org.nemanjan00.dislike">
	<head>
		<title>Dislike busplus</title>

		<meta property="og:image" content="https://www.busplus.rs/images/busPlus-karta.png">
		<meta property="og:description" content="Svi mi koji mrzimo busplus. ">
		<meta property="fb:admins" content="1665327528">

		<!-- Stylesheets -->
		<link rel="stylesheet" href="./assets/stylesheets/stylesheet.css">
	</head>

	<body class="text-center">
		<div ng-controller="dislike" class="btn-group dislike-group" role="group">	
			<button ng-click="dislike()" type="button" class="btn btn-danger dislike" ng-bind-html="dislikeButton"></button>
			<button type="button" class="btn btn-default dislike" ng-bind="dislikeCount"></button>

			<button ng-click="share()" type="button" class="btn btn-primary dislike" ng-bind-html="shareButton"></button>
		</div>

		<script src="./assets/javascript/javascript.js" charset="utf-8"></script>
		<script src="http://localhost:35729/livereload.js"></script>
	</body>
</html>
